<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.4.0.4099" targetFramework="net48" />
  <package id="Emgu.CV.Bitmap" version="4.4.0.4099" targetFramework="net48" />
  <package id="Emgu.CV.runtime.windows" version="4.4.0.4099" targetFramework="net48" />
  <package id="Flee" version="2.0.0" targetFramework="net48" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.9.0" targetFramework="net48" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="WebCam" version="1.11.7.7" targetFramework="net48" />
  <package id="Yolov5Net" version="1.0.9" targetFramework="net48" />
</packages>